.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .place__title {
        margin-left: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}

