.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 15%;
    z-index: 1;
}

@media (max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
} 