@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_choice/header__lang-link_choice_ru.css);

.header {
    display: flex;
    flex-direction: row;
    padding-top: 28px;
    margin: 0 48px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 320px){
    .header {
        padding-top: 16px;
        margin: 0 16px 20px;
        height: 42px;
    }
}