.footer__links {
    list-style: none;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    padding: 0; 
}
 
@media (min-width: 320px) and (max-width: 580px)  {
    .footer__links{
        flex-direction: column;
        
    }
}