.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__paragraph:first-child {
    margin-top: 0;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .place__paragraph {
        padding: 0 20px;
    }
}