@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__digits/intro__digits.css);

.intro {
    max-width: 690px;
    margin: 92px 0 0 148px;
}

@media (max-width: 1024px) {
    .intro {
        margin: 92px 0 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px 0;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .intro {
        margin: 64px 16px 0;
        /* max-width: 288px; */
    }
}