.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin-top: 35px;
    margin-bottom: 20px;
    z-index: 1;
    text-decoration: none;
    color: white;
    
 }


@media (max-width: 320px) {
    .cover__title {
    font-size: 32px;
    line-height: 35px;
    }
} 