.place__website_type_link {
    color: white;
    grid-area: link;
    align-self: end;
    justify-self: start;
    opacity: 1;
    transition: opacity 1s linear;
}
.place__website_type_link:hover {
    opacity: .8;
}

@media (max-width: 320px) {
    .place__website_type_link {
        display: none;
    }
}