@import url(./__copyright/footer__copyright.css);
@import url(./__flex/footer__flex.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__list/footer__list.css);

.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) and (min-width: 580px) {
    .footer{
        padding: 15px 30px 20px;
    }
}

 
@media (min-width: 320px) and (max-width: 580px) {
    .footer {
        flex-direction: column;
        padding: 15px 20px;
    }
}